
   .status {
      padding: 5px;
      border-radius: 5px;
  
      &.Approved {
        color: green;
        background-color: rgba(0, 128, 0, 0.151);
      }
      &.Pending {
        color: goldenrod;
        background-color: rgba(189, 189, 3, 0.103);
      }
    }

    .MuiDataGrid-columnHeaderTitle{
      position: relative;
      display: flex;
      align-items: center;
      gap: 1rem; 
         &::after{
        content:"";
        background-image: url('../../Assets/Vector.svg');
        display: inline-block;
        width: 15px; 
        height: 11px;
        // position: absolute;
        background-size: 15px, 15px;
        left: 0;
        
      }
      
     
    }
    .cellAction{
      // position: relative;
        .dots{
          font-size:20px;
          cursor:pointer;
        }

        .status{
         
          padding: 0;
          list-style: none;

          li{
            border-radius: 100px;
            height: 30px;
            padding: 20px;
            align-items: center;
            display: flex;
            justify-content: center;
            font-family: 'Work Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            text-align: center;
            &.active{
              color: #39CD62;
              background-color: #39cd634b;
            }
            &.inactive{
              color: #545F7D;
              background-color: #545f7d44;
            } &.blacklisted{
              color: #E4033B;
              background-color: #e4033b3c;
            }
          }
         
        }

        .details{
          background-color: #fefefe;
          margin: auto;
          padding: 0;
          border: 1px solid #888;
          width: 200px;
          height: 200px;
          position: absolute;
          background: #FFFFFF;
          border: 1px solid rgba(84, 95, 125, 0.04);
          box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
          border-radius: 4px;          
          list-style: none;
          transform: translate(-12rem, -1rem);
          display: none;
          transition: all 2.5s linear ease;

          &.active{
            display: block;
      
          }
          a{
            color: #545F7D;
            text-decoration: none;
            display: flex;
            align-items: center;
            line-height: 4;
            gap: 10px;
            padding-left: 20px; 
            li{
            font-family: 'Work Sans';
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            
          }

          .ico{
            line-height: 20px;
            font-family: 'Work Sans';
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
           
          }

          &:hover{
            background-color: #545f7d6c;
          }
          }
          

          &:target{
            visibility: visible;
            opacity: 1;
            transform: scale(1);
          }
        }
      }