.container{
    background-attachment: fixed;
    // background-image: url('../../../assets/MaskGroup.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
    &::before{
        // content: '';
        // background-image: url('../../../assets/vuesax-bulk-arrow-down (1).svg');
        position: absolute;
        background-repeat: no-repeat;

        right: 0;
        top: 0;
        width: 40rem;
        height: 40rem;
        z-index: 100;
    }

    .previous{
        display: flex;
        position: fixed;
        transform: translate(30vh,5vw);
        left: 0;
        top: 0;
        gap: .5rem;
        text-decoration: none;
        align-items: flex-end;
        justify-content: center;
        height: 30px;
        width: auto;
        object-fit: contain;

        &::after{
            content: url('../../Assets/lendsqr (1).svg');
            // transform: scale(.3);

        }
        &::before{
            
            content:"";
            background-image: url('../../Assets/Union.png');
            // background-size: 10px 20px;
            display: inline-block;
            width: 3rem; 
            height: 3rem;
            position: absolute;
            background-size: 3rem, 3rem;
            left: -50%;
        }
        @media (max-width: 768px) {

        position: relative;
        transform: translate(0, 0); 
        left: -40px;
        top: 0px;
        }
    }

    .cover-sign{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 80%;
        margin: 0 auto;
        justify-content: center;
        align-items: center;

       
        @media (max-width: 768px) {
            display: grid;
            grid-template-columns: 1fr;
            width: 100%;
        }
        .started{
            display: flex;
            flex-direction: column;
            justify-items: center;
            width: 70%;
                img{
                    width: calc(100% - -20px);
                    height: auto;
                }
                @media (max-width: 768px) {
                    width: 100%;
                    margin-top: 2rem;
                }
        }

       
    }



}